*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", serif;
    font-style:normal;
}
.container-1{
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.nav-bar{
    /* background-color: red; */
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    height: 100%;
    width: 80%;
}
.name{
    width: max-content;
    height: max-content;
    /* background-color: red; */
    font-size: 32px;
    font-weight: 400;
}
.nav-items {
    /* background-color: red; */
    height: max-content;
    width: max-content;
    position: relative;
    top: -3px;
    /* display: none; */
}
.nav-items ul{
    display: flex;
    list-style-type: none;
}
.nav-items li{
    margin-right: 25px;
    font-size: 24px;
    font-weight: 400;
}
.nav-items a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    transition: color 300ms ease, text-decoration 300ms ease;
    text-underline-offset: 10px;
}
.nav-items a:hover{
    color: #808080;
    text-decoration: underline;
}
@media (max-width: 1200px){
    .nav-items{
        display: none;
    }
}
.hamburger-menu{
    height: max-content;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    display: non;
    position: relative;
}
.hamburger-menu::after,
.hamburger-menu::before,
.hamburger-menu input{
    content: "";
    height: 3px;
    width: 30px;
    background-color: black;
    border-radius: 999999px;
}
.hamburger-menu input{
    appearance: none;
}
.x-list{
    height: max-content;
    width: 150px;
    background-color: white;
    position: relative;
    top: -12px;
    display: none;
    /* border: 1px solid black; */
}
.x-list ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    display: none;
}
.x-list ul a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    text-decoration-color:white ;
    transition: color 300ms ease, text-decoration 300ms ease;
    text-underline-offset: 10px;
}
.x-list li{
    margin-bottom: 4px;
}
.x-list a:hover{
    color: #808080;
    text-decoration: underline;
}
.x-list:has(input:checked){
    top:151px;
}
.x-list:has(input:checked) ul{
      display: flex;
}
.x-list:has(input:checked) input{
    width: 0;
}
.x-list:has(input:checked) .hamburger-menu::before{
    transform: rotate(-40deg);
    transform-origin: right  center;
    translate:0 -1px ;
}
.x-list:has(input:checked) .hamburger-menu::after{
    transform: rotate(40deg);
    transform-origin:  right center;
    translate:0 2px ;

}
@media (max-width: 1200px){
    .x-list{
        display: block;
    }
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: calc(100vh - 70px);
    width: 100%;
}
.pfp-1{
    height: max-content;
    width: max-content;
    /* border: 1px solid black; */
}
.pfp-1 img{
    height: 400px;
    width: 400px;
}
.intro{
    height: 400px;
    width: 400px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    /* background-color: #fff; */
}
.btn-1, .btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 50px;
    width: 120px;
    padding: 16px;
    border: 2px solid #353535;
    border-radius: 9999px;
    text-decoration: none;
    transition: color 300ms ease, background-color 300ms ease;
}
.btn-1 {
    color: black;
    background-color: #fff;
}
.btn-2 {
    color: white;
    background-color: #353535;
}
.btn-1:hover{
    background-color: #353535;
    color: white;
}
.btn-2:hover{
    background-color: black;
}
.socials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: max-content;
    width: 100%;
    /* background-color: red; */
    margin-top: 20px;
}
.socials-container a {
    color: black;
    /* background-color: red; */
}

@media (max-width: 1200px){
    .hero{
        flex-direction: column;
    }
    .pfp-1 img{
        height: 275px;
        width: 275px;
    } 
}
.container-2{
    height: 100vh;
    width: 100vw;
}
.about-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: red; */
}
.about-container{
    height: calc(100vh-100px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.pfp-1{
    height: max-content;
    width: max-content;
}
.pfp-2 img{
    height: 400px;
    width: 400px;
    border-radius: 15px;
}
.about-content{
    height: 400px;
    width: 60%;
    background-color: red;
}
.about-content img{
    height: 50px;
    width: 50px;
}
